.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 15px;
    font-family: 'Roboto', sans-serif;
}
.form{
    display: flex;
    flex-direction: column;
    /* box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2); */
    padding: 30px;
    gap: 20px;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: rgb(66, 66, 66);
}
label{
    font-size: 18px;
    font-weight: bold;
    color: rgb(66, 66, 66);
}
input{
    border: none;
    border-bottom: 1px solid rgb(119, 119, 119);
    font-size: 16px;
    outline: none;
    line-height: 30px;
}
input:focus{
    border-bottom: 1px solid rgb(0, 0, 0);
}
a{
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    display: flex;
    border: 2px rgb(3, 255, 116) solid;
    width: 250px;
    color: rgb(3, 255, 116);
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    margin: 0 auto;
    transition: 0.2s ease;
}
a:hover{
    background: rgb(3, 255, 116);
    color: rgb(255, 255, 255);
}
p{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

